label {
    top: 0%;
    transform: translateY(-50%);
    font-size: 15px;
    color: black;
  }
  .empty input:not(:focus) + label {
    top: 45%;
    transform: translateY(-45%);
    font-size: 12px;
  }
  input:not(:focus) + label {
    color: rgba(70, 70, 70, 1);
    
  }
  input {
    border-width: 1px;
    
  }
  input:focus {
    outline: none;
    border-color: black;
    
}